---
import styles from './contacts.module.css'
---

<div class={styles.main} id="contacts">
	<div class={styles.content}>
		<img
			class={styles.logo}
			src="/logo.png"
			alt=""
			width="180"
			height="172.45"
			loading="lazy"
		/>
		<h2 class={styles.title}>Контакты</h2>
		<p class={styles.text}>
			Бесплатно проконсультирую по&nbsp;любым вопросам татуировки
		</p>
		<div class={styles.links}>
			<a class={styles.linkTelegram} href="https://t.me/cubic_tattoo"
				>Написать в telegram</a
			>
			<a class={styles.linkInstagram} href="https://www.instagram.com/cubic_tattoo"
				>Instagram @cubic_tattoo</a
			>
		</div>
	</div>
</div>
