---
import styles from './promo.module.css'
---

<div class={styles.promo}>
	<video
		class={styles.backgroundVideo}
		id="promo-video"
		poster="/images/promo-main-full.webp"
		autoplay
		muted
		loop
		playsinline
	>
	</video>
	<img
		class={styles.promoImage}
		id="promo-image"
		src="/images/promo-main-full.webp"
		alt="Promo"
	/>
	<div class={styles.overlay}>
		<h1 class={styles.mainTitle}>
			Тату мастер из&nbsp;Краснодара <span class={styles.mainTitleSubtitle}
				>Работаю в&nbsp;стиле черно-белый реализм</span
			>
		</h1>
	</div>
</div>

<script>
	function handleVideoDisplay() {
		const video = document.getElementById('promo-video') as HTMLVideoElement
		const image = document.getElementById('promo-image')

		if (window.matchMedia('(min-width: 767px)').matches) {
			if (video) {
				if (!video.querySelector('source')) {
					const source = document.createElement('source')
					source.src = '/promo.mp4'
					source.type = 'video/mp4'
					video.appendChild(source)
				}
				video.load()
				video
					.play()
					.catch((e: Error) => console.log('Video autoplay failed:', e))
			}
		} else {
			if (video) {
				video.pause()
				const source = video.querySelector('source')
				if (source) {
					source.remove()
				}
			}
		}
	}

	document.addEventListener('DOMContentLoaded', handleVideoDisplay)

	window.addEventListener('resize', handleVideoDisplay)
</script>
